<div
  class="flex dark:bg-stone-800 bg-white text-black dark:text-white min-h-screen"
>
  <!-- Filtreler -->
  <div
    class="filters pt-8 px-3 overflow-y-scroll overflow-x-hidden pr-4 lg:w-1/5 sticky"
  >
    <!-- Marka -->
    <h3 class="my-1">Marka</h3>
    <div class="flex items-center gap-1">
      <input type="checkbox" class="scale-105" id="apple" />
      <label for="apple" class="text-sm opacity-75">Apple</label>
    </div>
    <div class="w-full h-[2px] bg-stone-200 dark:bg-stone-600 my-5"></div>
    <!-- Fiyat -->
    <h3>Fiyat</h3>
    <!-- En çok - En az -->
    <div class="flex items-center xl:gap-2 gap-1">
      <input
        type="text"
        class="border minimum-fiyat rounded-md dark:bg-neutral-700 w-[3rem] dark:border-neutral-600 focus:outline-none p-1 text-xs"
        placeholder="En az"
      />
      <p>-</p>
      <input
        type="text"
        class="border maksimum-fiyat dark:bg-neutral-700 rounded-md w-[3rem] dark:border-neutral-600 focus:outline-none p-1 text-xs"
        placeholder="En çok"
      />

      <div
        class="w-7 h-7 rounded-sm bg-neutral-600 hover:bg-orange-500 duration-300 cursor-pointer opacity-75 scale-[0.85] text-white grid place-content-center"
        (click)="productservice.getFilteredProdcuts()"
      >
        <div class="fa-solid fa-search fa-sm"></div>
      </div>
    </div>
    <div class="w-full h-[2px] bg-stone-200 dark:bg-stone-600 my-5"></div>
    <!-- Suya/Toza Dayanıklılık -->
    <h3 class="my-1">Suya/Toza Dayanıklılık</h3>
    <div class="text-sm">
      <div class="flex items-center gap-1">
        <input type="checkbox" id="var" />
        <label for="var" class="opacity-70">Var</label>
      </div>
      <div class="flex items-center gap-1">
        <input type="checkbox" id="var" />
        <label for="var" class="opacity-70">Yok</label>
      </div>
    </div>
    <!-- MESSSİİSİSİS -->

    <!-- Marka -->
    <h3 class="my-1">Marka</h3>
    <div class="flex items-center gap-1">
      <input type="checkbox" class="scale-105" id="apple" />
      <label for="apple" class="text-sm opacity-75">Apple</label>
    </div>
    <div class="w-full h-[2px] bg-stone-200 dark:bg-stone-600 my-5"></div>
    <!-- Fiyat -->
    <h3>Fiyat</h3>
    <!-- En çok - En az -->
    <div class="flex items-center xl:gap-2 gap-1">
      <input
        type="text"
        class="border minimum-fiyat rounded-md dark:bg-neutral-700 w-[3rem] dark:border-neutral-600 focus:outline-none p-1 text-xs"
        placeholder="En az"
      />
      <p>-</p>
      <input
        type="text"
        class="border maksimum-fiyat dark:bg-neutral-700 rounded-md w-[3rem] dark:border-neutral-600 focus:outline-none p-1 text-xs"
        placeholder="En çok"
      />

      <div
        class="w-7 h-7 rounded-sm bg-neutral-600 hover:bg-orange-500 duration-300 cursor-pointer opacity-75 scale-[0.85] text-white grid place-content-center"
        (click)="productservice.getFilteredProdcuts()"
      >
        <div class="fa-solid fa-search fa-sm"></div>
      </div>
    </div>
    <div class="w-full h-[2px] bg-stone-200 dark:bg-stone-600 my-5"></div>
    <!-- Suya/Toza Dayanıklılık -->
    <h3 class="my-1">Suya/Toza Dayanıklılık</h3>
    <div class="text-sm">
      <div class="flex items-center gap-1">
        <input type="checkbox" id="var" />
        <label for="var" class="opacity-70">Var</label>
      </div>
      <div class="flex items-center gap-1">
        <input type="checkbox" id="var" />
        <label for="var" class="opacity-70">Yok</label>
      </div>
    </div>
    <!-- Marka -->
    <h3 class="my-1">Marka</h3>
    <div class="flex items-center gap-1">
      <input type="checkbox" class="scale-105" id="apple" />
      <label for="apple" class="text-sm opacity-75">Apple</label>
    </div>
    <div class="w-full h-[2px] bg-stone-200 dark:bg-stone-600 my-5"></div>
    <!-- Fiyat -->
    <h3>Fiyat</h3>
    <!-- En çok - En az -->
    <div class="flex items-center xl:gap-2 gap-1">
      <input
        type="text"
        class="border minimum-fiyat rounded-md dark:bg-neutral-700 w-[3rem] dark:border-neutral-600 focus:outline-none p-1 text-xs"
        placeholder="En az"
      />
      <p>-</p>
      <input
        type="text"
        class="border maksimum-fiyat dark:bg-neutral-700 rounded-md w-[3rem] dark:border-neutral-600 focus:outline-none p-1 text-xs"
        placeholder="En çok"
      />

      <div
        class="w-7 h-7 rounded-sm bg-neutral-600 hover:bg-orange-500 duration-300 cursor-pointer opacity-75 scale-[0.85] text-white grid place-content-center"
        (click)="productservice.getFilteredProdcuts()"
      >
        <div class="fa-solid fa-search fa-sm"></div>
      </div>
    </div>
    <div class="w-full h-[2px] bg-stone-200 dark:bg-stone-600 my-5"></div>
    <!-- Suya/Toza Dayanıklılık -->
    <h3 class="my-1">Suya/Toza Dayanıklılık</h3>
    <div class="text-sm">
      <div class="flex items-center gap-1">
        <input type="checkbox" id="var" />
        <label for="var" class="opacity-70">Var</label>
      </div>
      <div class="flex items-center gap-1">
        <input type="checkbox" id="var" />
        <label for="var" class="opacity-70">Yok</label>
      </div>
    </div>
  </div>
  <div
    class="flex items-stretch justify-center gap-5 px-3 flex-wrap my-5 w-full sticky top-0"
  >
    <div *ngFor="let product of productservice.products">
      <app-product [product]="product"></app-product>
    </div>
  </div>
</div>
