<div
  class="header pt-1 border-b dark:border-stone-600 dark:text-white text-black dark:bg-stone-800"
>
  <div class="px-2 md:px-8 lg:px-[12rem]">
    <!-- Small Screen Three Top -->
    <div class="flex w-full md:hidden items-center justify-between">
      <div class="flex gap-2 items-center">
        <div>
          <div
            class="p-0 flex justify-center m-0 w-[24px] h-[24px] items-center"
          >
            <mat-icon class="w-[24px] h-[24px]">menu</mat-icon>
          </div>
          <p class="text-sm -mt-1">Menü</p>
        </div>
        <img
          src="https://cdn.dsmcdn.com/web/logo/ty-web.svg"
          alt="Shopify"
          class="w-32"
          [class.header-icon-reverse]="service.darkMode == 'dark'"
        />
      </div>
      <div class="flex items-center justify-end gap-2 w-full">
        <div>
          <i
            class="fa-regular fa-lightbulb fa-lg cursor-pointer"
            (click)="
              service.darkMode == 'light'
                ? service.toggleDarkMode('dark')
                : service.toggleDarkMode('light')
            "
          ></i>
        </div>
        <div class="relative">
          <i class="account-div fa-solid fa-user fa-lg py-3"></i>
          <div class="relative account-div">
            <div
              *ngIf="!service.user"
              class="account-hover-div account-div hidden absolute top-0 -left-[5.25rem] border border-stone-200 dark:border-stone-700 p-4 rounded-md z-40 bg-white dark:bg-stone-800"
            >
              <a
                routerLink="/signin"
                class="bg-orange-500 block rounded-md text-white text-center w-32 text-sm p-1 px-2 cursor-pointer"
              >
                Giriş Yap
              </a>
              <a
                routerLink="/signup"
                class="border block border-stone-400 cursor-pointer dark:border-stone-800 dark:bg-stone-700 text-center rounded-md mt-3 p-1 px-2 text-sm"
              >
                Üye Ol
              </a>
            </div>
            <div
              *ngIf="service.user"
              class="account-hover-div account-div hidden absolute top-0 -left-[6.8rem] border border-stone-200 dark:border-stone-700 p-4 rounded-md z-40 bg-white dark:bg-stone-800"
            >
              <p class="text-orange-500 text-sm">{{ service.user.email }}</p>
              <div
                class="flex items-center opacity-75 my-2 hover:text-orange-500 w-full rounded-md gap-2 text-center text-sm cursor-pointer"
                (click)="toggleAddProduct()"
              >
                <i class="fa-solid fa-truck-ramp-box"></i>
                Ürün Ekle
              </div>
              <div
                class="flex items-center opacity-75 my-2 hover:text-orange-500 w-full rounded-md gap-2 text-center text-sm cursor-pointer"
              >
                <i class="fa-solid fa-box"></i>
                Siparişlerim
              </div>
              <div
                (click)="service.signOut()"
                class="flex items-center opacity-75 w-full rounded-md hover:text-orange-500 gap-2 text-center text-sm cursor-pointer"
              >
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Çıkış Yap
              </div>
            </div>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-heart fa-lg"></i>
        </div>
        <div>
          <i class="fa-solid fa-cart-shopping fa-lg"></i>
        </div>
      </div>
    </div>
    <!-- Large Screen  -->
    <div
      class="md:flex items-center opacity-70 justify-end gap-4 text-xs hidden"
    >
      <a routerLink="/products">İndirim Kuponlarım</a>
      <p>Trendyol'da Satış Yap</p>
      <p>Yardım & Destek</p>
    </div>
    <div
      class="flex items-center justify-start md:justify-between gap-0 md:gap-8 mt-3"
    >
      <a routerLink="/"
        ><img
          src="https://cdn.dsmcdn.com/web/logo/ty-web.svg"
          alt="Shopify"
          class="w-32 hidden md:block"
          [class.header-icon-reverse]="service.darkMode == 'dark'"
      /></a>
      <div class="relative w-full md:w-1/2">
        <input
          type="text"
          class="header-search-input focus:border-0 focus:outline-none rounded-md w-full dark:bg-stone-700 font-light text-sm bg-stone-100 pr-10"
          placeholder="Aradığınız ürün, kategori veya markayı yazınız"
        />
        <mat-icon class="absolute right-1 top-[0.4rem] text-orange-500"
          >search</mat-icon
        >
      </div>
      <div class="items-center justify-between hidden md:flex">
        <div class="flex items-center gap-5">
          <i
            class="fa-regular fa-lightbulb cursor-pointer"
            (click)="
              service.darkMode == 'light'
                ? service.toggleDarkMode('dark')
                : service.toggleDarkMode('light')
            "
          ></i>
          <div class="relative account-div">
            <div
              class="flex items-center gap-[4px] cursor-pointer text-sm hover:text-orange-400 py-2"
            >
              <mat-icon class="duration-200 scale-[0.9]">person</mat-icon>
              Hesabım
            </div>
            <div
              *ngIf="!service.user"
              class="account-hover-div account-div hidden absolute top-9 -left-8 border border-stone-200 dark:border-stone-700 p-4 rounded-md z-40 bg-white dark:bg-stone-800"
            >
              <a
                routerLink="/signin"
                class="bg-orange-500 block rounded-md text-white text-center w-32 text-sm p-1 px-2 cursor-pointer"
              >
                Giriş Yap
              </a>
              <a
                routerLink="/signup"
                class="border block border-stone-400 cursor-pointer dark:border-stone-800 dark:bg-stone-700 text-center rounded-md mt-3 p-1 px-2 text-sm"
              >
                Üye Ol
              </a>
            </div>
            <div
              *ngIf="service.user"
              class="account-hover-div account-div hidden absolute top- -left-8 border border-stone-200 dark:border-stone-700 p-4 rounded-md z-40 bg-white dark:bg-stone-800"
            >
              <p class="text-orange-500 text-sm">{{ service.user.email }}</p>
              <div
                class="flex items-center opacity-75 my-2 hover:text-orange-500 w-full rounded-md gap-2 text-center text-sm cursor-pointer"
                (click)="toggleAddProduct()"
              >
                <i class="fa-solid fa-truck-ramp-box"></i>
                Ürün Ekle
              </div>
              <div
                class="flex items-center opacity-75 my-2 hover:text-orange-500 w-full rounded-md gap-2 text-center text-sm cursor-pointer"
              >
                <i class="fa-solid fa-box"></i>
                Siparişlerim
              </div>
              <div
                (click)="service.signOut()"
                class="flex items-center opacity-75 w-full rounded-md hover:text-orange-500 gap-2 text-center text-sm cursor-pointer"
              >
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Çıkış Yap
              </div>
            </div>
          </div>
          <div
            class="flex items-center gap-[4px] cursor-pointer text-sm hover:text-orange-400"
          >
            <mat-icon class="duration-200 scale-[0.8]">favorite</mat-icon>
            Favorilerim
          </div>
          <div
            class="flex items-center gap-[4px] cursor-pointer text-sm hover:text-orange-400"
          >
            <mat-icon class="duration-200 scale-[0.8]">shopping_cart</mat-icon>
            Sepetim
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Large Screen Categories -->
  <div
    class="items-center justify-center text-xs mt-4 font-medium hidden md:flex"
  >
    <div
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 h-7 px-5 text-center"
    >
      KADIN
    </div>
    <div
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 h-7 px-5 text-center"
    >
      ERKEK
    </div>
    <div
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 h-7 px-5 text-center"
    >
      ANNE & ÇOCUK
    </div>
    <div
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 h-7 px-5 text-center"
    >
      EV & MOBİLYA
    </div>
    <div
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 h-7 px-5 text-center"
    >
      SÜPERMARKET
    </div>
    <div
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 h-7 px-5 text-center"
    >
      KOZMETİK
    </div>
    <div
      class="hover:border-b-2 hover:text-orange-400 border-b-orange-400 cursor-pointer whitespace-nowrap h-7 px-5 text-center"
    >
      AYAKKABI & ÇANTA
    </div>
    <div
      class="hover:border-b-2 hover:text-orange-400 border-b-orange-400 cursor-pointer whitespace-nowrap h-7 px-5 text-center"
    >
      SAAT & AKSESUAR
    </div>
    <div
      class="hover:border-b-2 hover:text-orange-400 border-b-orange-400 cursor-pointer whitespace-nowrap h-7 px-5 text-center"
    >
      ELEKTRONİK
    </div>
    <div
      class="hover:border-b-2 hover:text-orange-400 border-b-orange-400 cursor-pointer whitespace-nowrap h-7 px-5 text-center"
    >
      SPOR & OUTDOOR
    </div>
  </div>
  <!-- Small Screen Categories -->
  <swiper
    [config]="config"
    class="categories-header flex md:hidden items-center justify-center text-xs mt-4 font-medium"
  >
    <ng-template
      swiperSlide
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 text-clip px-5 text-center pb-3 w-full text-center"
    >
      KADIN
    </ng-template>
    <ng-template
      swiperSlide
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 text-clip px-5 text-center pb-3 w-full text-center"
    >
      ERKEK
    </ng-template>
    <ng-template
      swiperSlide
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 text-clip px-5 text-center pb-3 w-full text-center"
    >
      ANNE & ÇOCUK
    </ng-template>
    <ng-template
      swiperSlide
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 text-clip px-5 text-center pb-3 w-full text-center"
    >
      EV & MOBİLYA
    </ng-template>
    <ng-template
      swiperSlide
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 text-clip px-5 text-center pb-3 w-full text-center"
    >
      SÜPERMARKET
    </ng-template>
    <ng-template
      swiperSlide
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 text-clip px-5 text-center pb-3 w-full text-center"
    >
      KOZMETİK
    </ng-template>
    <ng-template
      swiperSlide
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 text-clip px-5 text-center pb-3 w-full text-center"
    >
      AYAKKABI & ÇANTA
    </ng-template>
    <ng-template
      swiperSlide
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 text-clip px-5 text-center pb-3 w-full text-center"
    >
      SAAT & AKSESUAR
    </ng-template>
    <ng-template
      swiperSlide
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 text-clip px-5 text-center pb-3 w-full text-center"
    >
      ELEKTRONİK
    </ng-template>
    <ng-template
      swiperSlide
      class="hover:border-b-2 hover:text-orange-400 cursor-pointer whitespace-nowrap border-b-orange-400 text-clip px-5 text-center pb-3 w-full text-center"
    >
      SPOR & OUTDOOR
    </ng-template>
  </swiper>
</div>
