.header-search-input {
  border: 2px solid rgb(0 0 0 / 0%);
  padding: 6.6px 26.6px 6.6px 10px;
  transition: 0.3s;
}
.header-search-input:focus {
  outline: 0;
  border: 2px solid rgb(249 115 22 / var(--tw-text-opacity)) !important;
  transition: 0.3s;
}

.header-icon-reverse {
  filter: invert(1);
}

.categories-header {
  height: 30px !important;
}
