<div
  class="header bg-blue-900 p-3 text-white flex items-center justify-between shadow-md"
>
  <a routerLink="/"
    ><img
      src="https://cdn-icons-png.flaticon.com/512/2362/2362636.png"
      alt="Shopify"
      class="w-7"
  /></a>
  <div class="flex items-center gap-1">
    <!-- Profile Picture -->
    <div *ngIf="service.user">
      <img
        src="{{ service.user.photoURL }}"
        class="w-7 h-7 rounded-full"
        *ngIf="service.user.photoURL"
        matTooltip="{{ service.user.email }}"
        matTooltipPosition="left"
      />
      <div
        *ngIf="!service.user.photoURL"
        class="w-7 h-7 bg-stone-300 text-blue-500 font-semibold rounded-full grid place-content-center"
        matTooltipPosition="left"
        matTooltip="{{ service.user.email }}"
      >
        {{ service.user.email | titlecase | slice : 0 : 1 }}
      </div>
    </div>

    <!-- Logout -->
    <button
      (click)="service.signOut()"
      matTooltip="Signout"
      matTooltipPosition="left"
      class="bg-gradient-to-br from-blue-800 to-blue-700 grid place-items-center rounded-md p-[1px] cursor-pointer hover:shadow-md duration-200 border border-blue-800"
      *ngIf="service.user"
    >
      <mat-icon>logout</mat-icon>
    </button>

    <!-- Login -->
    <a
      routerLink="/signin"
      *ngIf="!service.user"
      matTooltip="Signin"
      matTooltipPosition="left"
      class="bg-gradient-to-br grid place-items-center from-blue-800 to-blue-700 rounded-md p-[1px] cursor-pointer hover:shadow-md duration-200 border border-blue-800"
      ><mat-icon>login</mat-icon>
    </a>
  </div>
</div>
