<div class="text-black dark:text-white dark:bg-stone-800 min-h-full">
  <!-- Brands -->
  <div class="py-8">
    <owl-carousel-o [options]="brandsOptions">
      <ng-container carouselSlide>
        <ng-template carouselSlide>
          <div class="grid place-content-center">
            <div
              class="text-center w-20 hover:text-orange-500 duration-200 font-medium"
            >
              <div
                class="rounded-full text-center grid place-items-center border border-gray-400 hover:border-orange-500 duration-200 w-20 text-sm h-20 mb-2"
              >
                Senin için Seçtik
              </div>
              Sana Özel
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="grid place-content-center">
            <div
              class="text-center w-20 font-medium duration-200 hover:text-orange-500"
            >
              <div
                class="rounded-full bg-orange-400 text-center grid place-items-center border text-black hover:text-black border-gray-400 hover:border-orange-500 duration-200 w-20 text-sm h-20 mb-2"
              >
                Çok Satanlar
              </div>
              Sen De Al!
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="grid place-content-center">
            <a
              href="https://www.adidas.com.tr/tr/"
              target="_blank"
              class="text-center w-20 hover:text-orange-500 duration-200 font-medium"
            >
              <div
                class="rounded-full bg-orange-400 text-center grid place-items-center border border-gray-400 hover:border-orange-500 duration-200 w-20 text-sm h-20 mb-2"
              >
                <img
                  src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2023/1/26/Adidas_202301262144.png"
                  class="rounded-full"
                />
              </div>
              adidas
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="grid place-content-center">
            <div
              class="text-center w-20 hover:text-orange-500 duration-200 font-medium"
            >
              <div
                class="rounded-full bg-orange-400 text-center grid place-items-center border border-gray-400 hover:border-orange-500 duration-200 w-20 text-sm h-20 mb-2"
              >
                <img
                  src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2023/1/27/Defacto_202301270049.jpg"
                  class="rounded-full"
                />
              </div>
              DeFacto
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="grid place-content-center">
            <a
              href="https://tr.puma.com/"
              target="_blank"
              class="text-center w-20 hover:text-orange-500 duration-200 font-medium"
            >
              <div
                class="rounded-full bg-orange-400 text-center grid place-items-center border border-gray-400 hover:border-orange-500 duration-200 w-20 text-sm h-20 mb-2"
              >
                <img
                  src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2023/1/27/Puma_202301271558.jpg"
                  class="rounded-full"
                />
              </div>
              Puma
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="grid place-content-center">
            <div
              class="text-center w-20 hover:text-orange-500 duration-200 font-medium"
            >
              <div
                class="rounded-full bg-orange-400 text-center grid place-items-center border border-gray-400 hover:border-orange-500 duration-200 w-20 text-sm h-20 mb-2"
              >
                <img
                  src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2023/1/27/Nike_202301271540.jpg"
                  class="rounded-full"
                />
              </div>
              Nike
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <!-- Three Divs -->
  <div class="grid place-content-center mt-5">
    <div class="container">
      <div class="flex items-center justify-center gap-8 md:gap-16 flex-wrap">
        <div>
          <img
            src="https://cdn.dsmcdn.com/mnresize/500/500/marketing/datascience/automation/2022/6/29/SepeteEnCOkEklenenler_202206291435.png"
            alt="En Çok Öne Çıkanlar"
            class="rounded-md cursor-pointer md:w-96 w-full"
          />
        </div>
        <div>
          <img
            src="https://cdn.dsmcdn.com/mnresize/500/500/marketing/datascience/automation/2022/6/29/EnCOkONeCIkanlar_202206291435.png"
            alt="En Çok Öne Çıkanlar"
            class="rounded-md cursor-pointer md:w-96 w-full"
          />
        </div>
        <div>
          <img
            src="https://cdn.dsmcdn.com/mnresize/500/500/marketing/datascience/automation/2022/6/29/FlasINdirimler_202206291435.png"
            alt="En Çok Öne Çıkanlar"
            class="rounded-md cursor-pointer md:w-96 w-full"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Divs with Images -->
  <div class="grid place-items-center place-content-center my-6">
    <div class="md:container">
      <div
        class="flex items-center lg:justify-between justify-center flex-wrap gap-[20px]"
      >
        <div class="bu-div md:w-96 w-auto d-3-top-sv">
          <div class="rounded-t-md overflow-hidden md:w-96 w-auto">
            <img
              src="https://cdn.dsmcdn.com/ty718/pimWidgetApi/mobile_20230206085146_SBCoksatanlar.jpg"
              alt="most selling"
              class="w-96 roundedt-t-md hover:scale-[1.04] duration-500 d-3-top-sv"
            />
          </div>
          <div
            class="bg-black text-w duration-200 md:w-96 w-auto rounded-b-md p-3 d-3-bottom-sv font-medium items-center text-sm flex justify-between"
          >
            <p class="text-sm">Ayakkabı & Çanta'da Çok S...</p>
            <p class="alisveris flex items-center md:text-sm text-xs">
              Alışverişe Başla
            </p>
          </div>
        </div>
        <div class="bu-div md:w-96 w-auto d-3-top-sv">
          <div class="rounded-t-md overflow-hidden md:w-96 w-auto">
            <img
              src="https://cdn.dsmcdn.com/ty690/pimWidgetApi/mobile_20230116140359_2299474AyakkabiCantaMobile202301161401.jpg"
              alt="most selling"
              class="w-96 roundedt-t-md hover:scale-[1.04] duration-500 d-3-top-sv"
            />
          </div>
          <div
            class="bg-black text-w duration-200 md:w-96 w-auto rounded-b-md p-3 d-3-bottom-sv font-medium items-center text-sm flex justify-between"
          >
            <p class="text-sm">Erkeklerde Kombini Tamamlayıcı P...</p>
            <p class="alisveris flex items-center md:text-sm text-xs">
              Alışverişe Başla
            </p>
          </div>
        </div>
        <div class="bu-div md:w-96 w-auto d-3-top-sv">
          <div class="rounded-t-md overflow-hidden md:w-96 w-auto">
            <img
              src="https://cdn.dsmcdn.com/ty719/pimWidgetApi/mobile_20230206084342_2290160AyakkabiCantaMobile20221108142944.jpg"
              alt="most selling"
              class="w-96 roundedt-t-md hover:scale-[1.04] duration-500 d-3-top-sv"
            />
          </div>
          <div
            class="bg-black text-w duration-200 md:w-96 w-auto rounded-b-md p-3 d-3-bottom-sv font-medium items-center text-sm flex justify-between"
          >
            <p class="text-sm">Çok Satan Sneakerlar</p>
            <p class="alisveris flex items-center md:text-sm text-xs">
              Alışverişe Başla
            </p>
          </div>
        </div>
        <div class="bu-div md:w-96 w-auto d-3-top-sv">
          <div class="rounded-t-md overflow-hidden md:w-96 w-auto">
            <img
              src="https://cdn.dsmcdn.com/ty717/pimWidgetApi/mobile_20230206091227_mobile202212301257062215284Aya.jpg"
              alt="most selling"
              class="w-96 roundedt-t-md hover:scale-[1.04] duration-500 d-3-top-sv"
            />
          </div>
          <div
            class="bg-black text-w duration-200 md:w-96 w-auto rounded-b-md p-3 d-3-bottom-sv font-medium items-center text-sm flex justify-between"
          >
            <p class="text-sm">Pull&Bear - Büyük Kış İndirimi</p>
            <p class="alisveris flex items-center md:text-sm text-xs">
              Alışverişe Başla
            </p>
          </div>
        </div>
        <div class="bu-div md:w-96 w-auto d-3-top-sv">
          <div class="rounded-t-md overflow-hidden md:w-96 w-auto">
            <img
              src="https://cdn.dsmcdn.com/ty697/pimWidgetApi/mobile_20230123120928_2298900ErkekMobile202301191701.jpg"
              alt="most selling"
              class="w-96 roundedt-t-md hover:scale-[1.04] duration-500 d-3-top-sv"
            />
          </div>
          <div
            class="bg-black text-w duration-200 md:w-96 w-auto rounded-b-md p-3 d-3-bottom-sv font-medium items-center text-sm flex justify-between"
          >
            <p class="text-sm">Caterpillar & Harley Davidson</p>
            <p class="alisveris flex items-center md:text-sm text-xs">
              Alışverişe Başla
            </p>
          </div>
        </div>
        <div class="bu-div md:w-96 w-auto d-3-top-sv">
          <div class="rounded-t-md overflow-hidden md:w-96 w-auto">
            <img
              src="https://cdn.dsmcdn.com/ty706/pimWidgetApi/mobile_20230129074207_avvabanner.jpg"
              alt="most selling"
              class="w-96 roundedt-t-md hover:scale-[1.04] duration-500 d-3-top-sv"
            />
          </div>
          <div
            class="bg-black text-w duration-200 md:w-96 w-auto rounded-b-md p-3 d-3-bottom-sv font-medium items-center text-sm flex justify-between"
          >
            <p class="text-sm">Avva</p>
            <p class="alisveris flex items-center md:text-sm text-xs">
              Alışverişe Başla
            </p>
          </div>
        </div>
      </div>
      <!-- Highlights -->
      <!-- <div
        class="p-4 my-3 rounded-md border border-orange-100 bg-orange-50 dark:border-stone-800 dark:bg-stone-700"
      >
        <p class="font-semibold text-lg text-black mb-4">Öne Çıkanlar</p>
      </div> -->
    </div>
  </div>
</div>
