<div class="text-black dark:text-white dark:bg-stone-800">
  <!-- Brands -->
  <div class="py-8">
    <owl-carousel-o [options]="brandsOptions">
      <ng-container carouselSlide>
        <ng-template carouselSlide>
          <div class="grid place-content-center">
            <div
              class="text-center w-20 hover:text-orange-500 duration-200 font-medium"
            >
              <div
                class="rounded-full text-center grid place-items-center border border-gray-400 hover:border-orange-500 duration-200 w-20 text-sm h-20 mb-2"
              >
                Senin için Seçtik
              </div>
              Sana Özel
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="grid place-content-center">
            <div
              class="text-center w-20 font-medium duration-200 hover:text-orange-500"
            >
              <div
                class="rounded-full bg-orange-400 text-center grid place-items-center border text-black hover:text-black border-gray-400 hover:border-orange-500 duration-200 w-20 text-sm h-20 mb-2"
              >
                Çok Satanlar
              </div>
              Sen De Al!
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="grid place-content-center">
            <a
              href="https://www.adidas.com.tr/tr/"
              target="_blank"
              class="text-center w-20 hover:text-orange-500 duration-200 font-medium"
            >
              <div
                class="rounded-full bg-orange-400 text-center grid place-items-center border border-gray-400 hover:border-orange-500 duration-200 w-20 text-sm h-20 mb-2"
              >
                <img
                  src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2023/1/26/Adidas_202301262144.png"
                  class="rounded-full"
                />
              </div>
              adidas
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="grid place-content-center">
            <div
              class="text-center w-20 hover:text-orange-500 duration-200 font-medium"
            >
              <div
                class="rounded-full bg-orange-400 text-center grid place-items-center border border-gray-400 hover:border-orange-500 duration-200 w-20 text-sm h-20 mb-2"
              >
                <img
                  src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2023/1/27/Defacto_202301270049.jpg"
                  class="rounded-full"
                />
              </div>
              DeFacto
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="grid place-content-center">
            <a
              href="https://tr.puma.com/"
              target="_blank"
              class="text-center w-20 hover:text-orange-500 duration-200 font-medium"
            >
              <div
                class="rounded-full bg-orange-400 text-center grid place-items-center border border-gray-400 hover:border-orange-500 duration-200 w-20 text-sm h-20 mb-2"
              >
                <img
                  src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2023/1/27/Puma_202301271558.jpg"
                  class="rounded-full"
                />
              </div>
              Puma
            </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="grid place-content-center">
            <div
              class="text-center w-20 hover:text-orange-500 duration-200 font-medium"
            >
              <div
                class="rounded-full bg-orange-400 text-center grid place-items-center border border-gray-400 hover:border-orange-500 duration-200 w-20 text-sm h-20 mb-2"
              >
                <img
                  src="https://cdn.dsmcdn.com/mnresize/200/200/marketing/datascience/automation/2023/1/27/Nike_202301271540.jpg"
                  class="rounded-full"
                />
              </div>
              Nike
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <!-- Three Divs -->
  <div class="grid place-content-center mt-5">
    <div class="container">
      <div class="flex items-center justify-center gap-8 md:gap-16 flex-wrap">
        <div>
          <img
            src="https://cdn.dsmcdn.com/mnresize/500/500/marketing/datascience/automation/2022/6/29/SepeteEnCOkEklenenler_202206291435.png"
            alt="En Çok Öne Çıkanlar"
            class="rounded-md cursor-pointer md:w-96 w-full"
          />
        </div>
        <div>
          <img
            src="https://cdn.dsmcdn.com/mnresize/500/500/marketing/datascience/automation/2022/6/29/EnCOkONeCIkanlar_202206291435.png"
            alt="En Çok Öne Çıkanlar"
            class="rounded-md cursor-pointer md:w-96 w-full"
          />
        </div>
        <div>
          <img
            src="https://cdn.dsmcdn.com/mnresize/500/500/marketing/datascience/automation/2022/6/29/FlasINdirimler_202206291435.png"
            alt="En Çok Öne Çıkanlar"
            class="rounded-md cursor-pointer md:w-96 w-full"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Highlights -->
  <!-- <div class="bg-gradient-to-tr m-3 rounded-md border p-4 self-stretch">
    <h2 class="text-black mb-3 text-lg">Highlights</h2>
    <owl-carousel-o [options]="highlightsOptions">
      <ng-container
        *ngFor="let product of productservice.products"
        carouselSlide
      >
        <ng-template carouselSlide>
          <app-product
            [product]="product"
            [extraclass]="'bg-white self-stretch'"
            class="w-[30px]"
          ></app-product>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div> -->
</div>
