<div class="m-5">
  <div class="login-div border border-gray-200 rounded-md shadow-md p-4">
    <h1 class="lg:text-xl text-blue-900 text-lg text-center font-semibold">
      Login
    </h1>
    <form
      class="w-full mt-5"
      [formGroup]="loginForm"
      (submit)="service.loginWithEmailPsw(loginForm.value)"
    >
      <!-- Username -->
      <div class="grid place-items-center">
        <div class="lg:w-3/4 w-full">
          <div class="flex">
            <mat-icon>mail_outline</mat-icon>
            <p>Email</p>
          </div>
          <input
            type="text"
            formControlName="email"
            class="bg-gradient-to-br from-gray-200 to-gray-300 text-blue-900 rounded-md w-full p-1 outline-none border"
          />
        </div>
      </div>
      <!-- Password -->
      <div class="grid place-items-center">
        <div class="lg:w-3/4 w-full">
          <div class="flex mt-4">
            <mat-icon>lock_outline</mat-icon>
            <p>Password</p>
          </div>
          <input
            type="password"
            class="bg-gradient-to-br from-gray-200 to-gray-300 text-blue-900 rounded-md w-full p-1 outline-none border"
            formControlName="password"
          />
        </div>
      </div>
      <!-- Login -->
      <div class="flex justify-center mt-4">
        <button mat-stroked-button class="w-3/4">Login</button>
      </div>
      <!-- OR -->
      <div class="flex justify-center">
        <div
          class="w-full lg:w-1/2 h-[2px] bg-gray-300 rounded-md mt-5 relative"
        >
          <div
            class="w-8 h-8 border-2 bottom-0 bg-gray-300 translate-y-1/2 absolute right-1/2 translate-x-1/2 border-gray-300 grid place-items-center rounded-lg"
          >
            OR
          </div>
        </div>
      </div>
      <!-- Google and Github -->
      <div class="flex justify-center mt-6 gap-4">
        <!-- Google -->
        <button
          (click)="service.loginWithGmail()"
          class="border-2 rounded-full border-gray-300 p-1"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png"
            class="w-7 google-icon"
          />
        </button>
        <!-- Github -->
        <button
          (click)="service.loginWithGmail()"
          class="border-2 rounded-full border-gray-300 p-1"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
            class="w-7 github-icon"
          />
        </button>
      </div>
    </form>
  </div>
</div>
