<div
  class="dark:bg-stone-900 p-5 pt-6 border dark:border-stone-600 rounded-lg relative"
>
  <div
    class="fa-solid fa-xmark text-red-500 absolute right-5 top-5 fa-lg"
  ></div>
  <div class="flex items-center gap-2 mb-3 mt-5">
    <i class="fa-solid fa-file-signature fa-lg"></i>
    <input
      type="text"
      class="header-search-input focus:border-0 focus:outline-none outline-none border-none rounded-md w-full dark:bg-stone-700 font-light text-sm bg-stone-100 pr-10"
      placeholder="Ürünün Adı"
    />
  </div>
  <div class="flex items-center gap-2 my-3">
    <i class="fa-solid fa-highlighter fa-lg"></i>
    <input
      type="text"
      class="header-search-input focus:border-0 focus:outline-none outline-none border-none rounded-md w-full dark:bg-stone-700 font-light text-sm bg-stone-100 pr-10"
      placeholder="Ürünün Açıklaması"
    />
  </div>
  <div class="flex items-center gap-2 my-3">
    <i class="fa-solid fa-money-bill fa-lg"></i>
    <input
      type="text"
      maxlength="12"
      class="header-search-input focus:border-0 focus:outline-none outline-none border-none rounded-md w-full dark:bg-stone-700 font-light text-sm bg-stone-100 pr-10"
      placeholder="Ürünün Fiyatı"
    />
  </div>
  <button
    class="dark:bg-stone-800 border-2 ml-8 border-orange-500 p-1 rounded-md hover:shadow-md hover:bg-orange-500 hover:dark:bg-orange-600 hover:text-white duration-300"
  >
    Ürünü Ekle
  </button>
</div>
