<div
  class="dark:bg-stone-900 p-5 pt-6 border dark:border-stone-600 rounded-lg relative bg-white dark:text-white text-black"
>
  <form
    [formGroup]="productForm"
    (submit)="
      desc?.errors || price?.errors || name?.errors
        ? null
        : productservice.addProduct(productForm.value);
      productForm.reset()
    "
  >
    <div
      class="fa-solid fa-xmark text-red-500 duration-200 hover:text-red-400 absolute right-5 top-5 fa-lg cursor-pointer"
      (click)="toggleAddProduct()"
    ></div>
    <div class="flex items-start gap-2 mb-3 mt-5">
      <i class="fa-solid fa-file-signature fa-lg mt-4"></i>
      <div class="w-full">
        <input
          type="text"
          class="header-search-input focus:border-0 focus:outline-none outline-none border-none rounded-md w-full dark:bg-stone-700 font-light text-sm bg-stone-100 pr-10"
          placeholder="Ürünün Adı"
          formControlName="name"
        />
        <app-error-message
          [form]="productForm"
          name="name"
          name2="Ürün adı"
          [max]="120"
          [min]="10"
        ></app-error-message>
      </div>
    </div>

    <div class="flex items-start gap-2">
      <i class="fa-solid fa-highlighter fa-lg mt-4"></i>
      <div class="w-full">
        <textarea
          rows="4"
          class="header-search-input w-full focus:border-0 focus:outline-none outline-none border-none rounded-md dark:bg-stone-700 font-light text-sm bg-stone-100 pr-10"
          placeholder="Ürünün Açıklaması"
          formControlName="desc"
        ></textarea>
        <app-error-message
          [form]="productForm"
          name="desc"
          name2="Ürün açıklaması"
          [max]="500"
          [min]="70"
        ></app-error-message>
      </div>
    </div>

    <div class="flex items-start gap-2 my-3">
      <i class="fa-solid fa-money-bill fa-lg mt-5"></i>
      <div class="w-full">
        <input
          type="text"
          maxlength="12"
          class="header-search-input focus:border-0 focus:outline-none outline-none border-none rounded-md w-full dark:bg-stone-700 font-light text-sm bg-stone-100 pr-10"
          placeholder="Ürünün Fiyatı"
          formControlName="price"
        />
        <app-error-message
          [form]="productForm"
          name="price"
          name2="Ürün fiyatı"
          [max]="12"
          [min]="1"
        ></app-error-message>
      </div>
    </div>

    <button
      class="dark:bg-stone-800 border-2 dark:text-white ml-8 border-orange-500 p-1 rounded-md hover:shadow-md hover:bg-orange-500 hover:dark:bg-orange-600 hover:text-white duration-300"
      [ngClass]="
        desc?.errors || price?.errors || name?.errors
          ? 'opacity-50'
          : 'opacity-100'
      "
    >
      Ürünü Ekle
    </button>
  </form>
</div>
