@tailwind base;
@tailwind components;
@tailwind utilities; /* You can add global styles to this file, and also import other style files */
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import 'ngx-toastr/toastr';
@import 'notyf/notyf.min.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.login-button {
  color: white !important;
  background: rgba(107, 33, 168, 0.5) !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes fadeIt {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.fading-background {
  background: linear-gradient(
    -45deg,
    rgb(249 115 22),
    rgb(255, 134, 47),
    rgb(255, 145, 66)
  );
  background-size: 400% 400%;
  animation: fadeIt 5s ease-in-out infinite;
}

.fading-background-2 {
  background: linear-gradient(
      -45deg,
      rgb(255, 255, 255),
      rgb(240, 240, 240),
      rgb(224, 224, 224)
  );
  background-size: 400% 400%;
  animation: fadeIt 5s ease-in-out infinite;
}

.swiper-button-prev, .swiper-button-next {
  color: #a2a2a2;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes spin_reverse {
  0% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}

.google-icon {
  animation: spin 6s infinite 1s;
}

.github-icon {
  animation: spin_reverse 6s infinite 1s;
}

.header-search-input {
  border: 2px solid rgb(0 0 0 / 0%);
  padding: 6.6px 26.6px 6.6px 10px;
  transition: 0.3s;
}
.header-search-input:focus {
  outline: 0;
  border: 2px solid rgb(249 115 22 / var(--tw-text-opacity)) !important;
  transition: 0.3s;
}

.header-icon-reverse {
  filter: invert(1);
}

.categories-header {
  height: 30px !important;
}

.login-div {
  min-height: calc(100vh - 126px);
}

input[type="radio"] {
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 10.91px;
  height: 10.91px;
  border-radius: 50%;
  transform: scale(0);
  box-shadow: inset 10.91px 10.91px #f97416;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"] {
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  transform: scale(0);
  border: 2px solid rgb(255, 127, 37);;
  border-radius: 2px;
  box-shadow: inset 0.70rem 0.70rem rgb(249, 115, 22);

}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}


@media screen and (max-width: 768px) {
  .login-div {
    min-height: calc(100vh - 152px);
  }
}

body::-webkit-scrollbar {
  width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #696969;
}

body::-webkit-scrollbar-thumb {
  background: #696969;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
