@tailwind base;
@tailwind components;
@tailwind utilities; /* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.login-button {
  color: white !important;
  background: rgba(107, 33, 168, 0.5) !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes fadeIt {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.fading-background {
  background: linear-gradient(
    -45deg,
    rgb(249 115 22),
    rgb(255, 134, 47),
    rgb(255, 145, 66)
  );
  background-size: 400% 400%;
  animation: fadeIt 5s ease-in-out infinite;
}

.fading-background-2 {
  background: linear-gradient(
    -45deg,
    rgb(255, 255, 255),
    rgb(240, 240, 240),
    rgb(224, 224, 224)
  );
  background-size: 400% 400%;
  animation: fadeIt 5s ease-in-out infinite;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes spin_reverse {
  0% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}

.google-icon {
  animation: spin 6s infinite 1s;
}

.github-icon {
  animation: spin_reverse 6s infinite 1s;
}

.header-search-input {
  border: 2px solid rgb(0 0 0 / 0%);
  padding: 6.6px 26.6px 6.6px 10px;
  transition: 0.3s;
}
.header-search-input:focus {
  outline: 0;
  border: 2px solid rgb(249 115 22 / var(--tw-text-opacity)) !important;
  transition: 0.3s;
}

.header-icon-reverse {
  filter: invert(1);
}

.categories-header {
  height: 30px !important;
}

.login-div {
  min-height: calc(100vh - 126px);
}

@media screen and (max-width: 768px) {
  .login-div {
    min-height: calc(100vh - 152px);
  }
}
