<div
  class="dark:bg-stone-800 relative bg-white text-black dark:text-white min-h-screen"
>
  <div class="border-b border-stone-200 dark:border-stone-700 p-3 px-5">
    <div class="flex justify-between gap-5 items-center">
      <div class="flex items-center gap-5">
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-heart"></i>
          <p>Favorilerim</p>
        </div>
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-bookmark"></i>
          <p>Koleksiyonlarım</p>
        </div>
      </div>
      <div class="relative w-1/2 md:w-1/4">
        <input
          type="text"
          (input)="productservice.filterFavoriteProducts(getValue($event))"
          class="header-search-input focus:border-0 focus:outline-none rounded-md w-full dark:bg-stone-700 font-light text-sm bg-stone-100 pr-10"
          placeholder="Favorilerimde ara"
        />
        <mat-icon class="absolute right-1 top-[0.4rem] text-orange-500"
        >search</mat-icon
        >
      </div>
    </div>
  </div>
  <!-- Ürünler -->
  <div
    *ngIf="productservice.favoriteProducts && productservice.favoriteProducts.length>0"
    class="flex items-stretch justify-center gap-5 px-3 flex-wrap my-5 w-full sticky top-0"
  >
    <div *ngFor="let product of productservice.favoriteProducts">
      <app-product [product]="product"></app-product>
    </div>
  </div>
  <div
    *ngIf="!(productservice.favoriteProducts && productservice.favoriteProducts.length>0)"
    class="gap-5 px-3 my-5 w-full top-0"
  >
    <p class="text-center lg:text-lg">Herhangi bir favorin yok. 😢</p>
  </div>
</div>
